h1{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Evanplay{
    background-image: url("./Sky.png");
    display: block;
    margin: auto;
}
#Knowing{
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 30px;
}
